extends ./layout/app

block contenido

    main
        .container(style='margin-top: 90px;')
            nav.navbar.navbar-expand-lg.navbar-dark.mt-3.mb-5.shadow.p-2(style='background-color: black;')
                .container-fluid
                    a.navbar-brand(href='/productos') Categorias:
                    button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#navbarSupportedContent2' aria-controls='navbarSupportedContent2' aria-expanded='false' aria-label='Toggle navigation')
                        i.fas.fa-bars
                    #navbarSupportedContent2.collapse.navbar-collapse
                        ul.navbar-nav.me-auto.mb-2.mb-lg-0.d-flex.justify-content-center.flex-wrap
                            each claseProducto in primerasCincoClases
                                li.nav-item
                                    a.nav-link.text-white(href=`/productos/categorias/${claseProducto.id}`) #{claseProducto.nombre}
                            li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle.text-white(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-dark
                                        each claseProducto in todasLasClases
                                                if !claseProducto.visible && !primerasCincoClases.includes(claseProducto.nombre)
                                                    li.dropdown-item
                                                        a(href=`/productos/categorias/${claseProducto.id}`) #{claseProducto.nombre}

                        form.w-auto(style='max-width: 20rem', action="/productos/buscador", method="POST")
                            input.form-control.rounded-0(type='hidden', name='_csrf', value=csrfToken)
                            div.d-flex.align-items-center
                                input.form-control(type='text', id="termino", name='termino', placeholder='Buscar productos', aria-label='Buscar productos', class='mr-2')
                                input.btn.btn-outline-secondary.btn-outline-light.btn-sm.font-weight-bold(type='submit', value='Buscar')






            section
                .text-center
                    .row.row-cols-4
                        each producto in productos.rows.slice(0, 4)
                            .col.mb-4
                                .card.h-100.rounded
                                    .bg-image.hover-zoom.ripple.ripple-surface.ripple-surface-light(data-mdb-ripple-color='light')
                                        img.w-100(src=`/uploads/${producto.imagen}`, alt=`Imagen del producto ${producto.nombre}`)
                                        a(href='#!')
                                            .mask
                                            .d-flex.justify-content-start.align-items-end.h-100
                                                h5
                                            .hover-overlay
                                                .mask(style='background-color: rgba(251, 251, 251, 0.15);')
                                    .card-body
                                        a.text-reset(href=`/producto/${producto.id}`)
                                            h5.card-title.mb-2= producto.nombre
                                        a.text-reset(href=`productos/categorias/${producto.clase_producto.id}`)
                                            p= producto.clase_producto.nombre
                                        h6.price(style="color:black;") $#{producto.precio.toLocaleString('es-ES', {maximumFractionDigits: 1})}

                .text-center
                    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
                        each producto in productos.rows.slice(4, 8)
                            .col-lg-3.col-md-6.mb-4
                                .card.h-100.rounded
                                    .bg-image.hover-zoom.ripple.ripple-surface.ripple-surface-light(data-mdb-ripple-color='light')
                                        img.w-100(src=`/uploads/${producto.imagen}`, alt=`Imagen del producto ${producto.nombre}`)
                                        a(href='#!')
                                            .hover-overlay
                                                .mask(style='background-color: rgba(251, 251, 251, 0.15);')
                                    .card-body
                                        a.text-reset(href=`/producto/${producto.id}`)
                                            h5.card-title.mb-2= producto.nombre
                                        a.text-reset(href=`productos/categorias/${producto.clase_producto.id}`)
                                            p= producto.clase_producto.nombre
                                        h6.price(style="color:black;") $#{producto.precio.toLocaleString('es-ES', {maximumFractionDigits: 1})}




    footer.site-footer
        .container
            .row
                .ml-auto.col-lg-4.col-md-5
                    p.copyright-text Copyright © 2022 Apolo Man Co.
                .d-flex.justify-content-center.mx-auto.col-lg-5.col-md-7.col-12
                    p.mr-4
                        i.fa.fa-envelope-o.mr-1
                        a(href="#") ApoloMan@gmail.com
                    p
                        i.fa.fa-phone.mr-1
                        | +57 3118864535
block scripts
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/aos.js")
    script(src="js/smoothscroll.js")
    script(src="js/custom.js")